body {background-color:white; font-size:large;}
h1 {
    
    color: gray;
    text-align: left;
}
table
{
    width:500px;
    height:120px;
    font-size:20px;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
span
{
    background-color:yellow;
}


